In [1]:
import sys
import os
import json

from src.scripts.generateElevationCSV import generate_elevation_csv
from src.data import read_df, generate_gdf

In [2]:
with open('config/data_params.json') as fh:
    data_cfg = json.load(fh)

elevation_path = data_cfg['generate_elevation']
dfs = read_df(elevation_path)
gdf = generate_gdf(dfs[:-1])

Weather Station CRS:    EPSG:4326
VRI Polygon CRS:        EPSG:4326
NAM CRS:                EPSG:4326
San Diego County:       EPSG:4326

In [3]:
import pandas as pd
df = generate_elevation_csv(gdf)
df

                         geometry
0     POINT (-117.10672 32.54224)
1     POINT (-117.09059 32.54212)
2     POINT (-117.07446 32.54202)
3     POINT (-116.89679 32.55416)
4     POINT (-116.97732 32.56846)
...                           ...
3579  POINT (-117.60268 33.56529)
3580  POINT (-117.63528 33.57899)
3581  POINT (-117.61896 33.57894)
3582  POINT (-117.63524 33.59261)
3583   POINT (-117.6189 33.59256)

[3584 rows x 1 columns]